extends layout

block content
  .w3-card-4
    header.w3-container.w3-teal
      h1 Registo de plantas
    .w3-container
      table.w3-table-all
        tr
          th ID
          th Freguesia
          th Espécie
          th Estado
          th Número de intervenções

        each l in lists
          tr
            td
              a(href="http://localhost:15031/" + l._id)= l._id
            td= l.Freguesia
            td
              a(href="http://localhost:15031/especies/" + l.Espécie)= l.Espécie
            td= l.Estado
            td= l.Número_de_intervenções
